<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambio de Ip</title>
</head>
<body>
    <h1 style="color: cornflowerblue">Se ha accedido desde una ip distinta a la habitual</h1>
    <h3 style="color: cornflowerblue">Si ha sido usted no es necesario que haga nada. En caso contrario siga las instrucciones</h3>
    <ul style="color: red">
        <li>Pongase inmediatamente en contacto el administrador</li>
        <li>Intente entrar en el aplicativo </li>
        <li>Intente cambiar la contraseña </li>
        <li>Intente descargar la copia de seguridad de su base de datos </li>
        <li>Reze!!!!!</li>

    </ul>
</body>
</html>